.split-color-container {
  padding: 30px 0;
  background: -moz-linear-gradient(
    top, rgb(255,255,255) 50%, #F0F1F6);
  background: -webkit-linear-gradient(
    top, rgb(255,255,255) 50%,#F0F1F6);
  background: linear-gradient(
    to bottom, rgb(255,255,255) 50%,#F0F1F6);
}

.violet-container {
  margin: 0 60px;
  padding: 30px 40px;
  background-image: url("bg-shorten-desktop.svg");
  background-color: hsl(257, 27%, 26%);
<<<<<<< HEAD
=======
  background-size: cover;
>>>>>>> 0dfa0ba596426927dd85bf7bd4575548de8f4d6f
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

<<<<<<< HEAD
=======
@media screen and (max-width: 600px) {
  .violet-container {
    background-image: url("bg-shorten-mobile.svg");
    margin: 0 30px;
  }
}

>>>>>>> 0dfa0ba596426927dd85bf7bd4575548de8f4d6f
.shorten-demo {
  min-width: 100%;
}

.shorten-demo input[type=text] {
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
  margin: auto;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.shorten-demo input[type=text]:focus {
  outline-color: hsl(257, 7%, 63%);
  outline-width: 0px;
}
