.split-color-container {
  padding: 30px 0;
  background: -moz-linear-gradient(
    top, rgb(255,255,255) 50%, #F0F1F6);
  background: -webkit-linear-gradient(
    top, rgb(255,255,255) 50%,#F0F1F6);
  background: linear-gradient(
    to bottom, rgb(255,255,255) 50%,#F0F1F6);
}

.violet-container {
  margin: 0 60px;
  padding: 30px 40px;
  background-image: url("bg-shorten-desktop.svg");
  background-color: hsl(257, 27%, 26%);
  background-size: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .violet-container {
    background-image: url("bg-shorten-mobile.svg");
    margin: 0 30px;
  }
}
