.NavbarButtonLabel {
  font-size: 18px;
  text-transform: none;
}

a.navbarLink {
  color: rgb(158, 154, 167);
  font-size: 18px;
  margin-left: 30px;
  text-decoration: none;
}

a.navbarLink:hover, a.navbarLink:active, a.navbarLink:focus {
  color: rgb(0,0,0);
}

.shortly-button-container-mobile {
  flex-grow: 1;
}
.resources-button-container {
  flex-grow: 1;
}
