a.footerSvg:hover path,
a.footerSvg:active path,
a.footerSvg:focus path{
  fill: hsl(180, 66%, 49%);
}

a.footer {
  color: white;
  text-decoration: none;
}

a.footer:hover,
a.footer:active,
a.footer:focus {
  color: hsl(180, 66%, 49%);
}
